.chat-box {
  position: absolute;
  z-index: 400;
  right: 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  width: 500px;

  .header {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .messages-container {
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .chat-bubble {
      color: #fff;
      border-radius: 5px;
      padding: 10px;
      word-break: break-word;
      width: 50%;

      .username {
        font-size: 1rem;
      }

      &.incoming {
        align-self: flex-start;
        background-color: #007bff;
      }

      &.outgoing {
        align-self: flex-end;
        background-color: #4caf50;
      }
    }
  }
}
